header{
    background-color: red;
    display: flex;
    place-items: center;
    justify-content:center ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-color: gray;
    margin: 0;
    padding: 0;
}

.biography{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.achievements{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.biography:hover, .achievements:hover {
    transform: translateY(-5px); /* Moves the card up slightly */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Makes the shadow deeper */
}

.content{
    max-width: 9900px;
    margin: auto;
}

footer{
    background-color: red;
    color: white;
    display: flex;
    place-items: center;
    justify-content:center ;
    font-family: Arial, Helvetica, sans-serif;
}